body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.titulo {
    text-align: center;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.item:hover {
    background: #333;
    transform: scale(1.03);
}

.item img {
    width: 100%;
    border-radius: 8px;
}

.nombre {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.pagina {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #222;
    border-radius: 10px;
}

.foto {
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.volver {
    color: #fff;
    text-decoration: none;
    background: #333;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
}
